<div class="callout">
  <h2 class="header-title"><%= @fish.name %></h2>
  <% if @fish.description.present? %>
    <h4>Description:<%= @fish.description %></h4>
  <% end %>
  <% if !@fish.fish_photo.file.nil? %>
  <div class="fish-photo">
    <%= image_tag @fish.fish_photo %>
  </div>
  <% end %>

  <% if @lures_for_fish == 0 %>
  <h4>No lures have been reported catching this fish, go catch one!</h4>
  <% else %>
  <h3>Lures that have caught this fish:</h3>
  <% @lures_for_fish.each do |lure, count| %>
  <h5><%= link_to lure.name, lure_path(lure) %></h5>
  <% end %>
  <% end %>
</div>
