<div class="callout">
<h2 class="header-title">All Catches</h2>
  <div class="row">
    <div class="large-6 small-11 columns">
      <% @catches.each do |c| %>
        <ul>
          <li><%= link_to c.caught_at.strftime("Caught on %m/%d/%Y"), catch_path(c) %></li>
          <ul>
            <li><%= link_to c.lure.name, lure_path(c.lure) %></li>
            <li><%= link_to c.fish_type.name, fish_type_path(c.fish_type) %></li>
          </ul>
        </ul>
        <br>
        <% end %>
      </div>
    <div class="large-6 small-11 small-centered columns" id="map-holder">
      <a href='#' id='locate-me' class='button'>Locate Me</a>
      <div id='map' class="large-12 small-12 small-centered columns"></div>

      <script type="text/javascript">
        drawIndexCatchMap();
      </script>
    </div>
  </div>
</div>
