// @import "*";
/*= require foundation */
@import "foundation_and_overrides";

body {
  background-image: image-url("fish-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0
}

#trout-image {
  height: 30;
  width: 30;
}

#button-group {
  text-align: center;
}

.columns {
  text-align: center;
}

#map {
  margin: 20px;
  display: inline-block;
  height: 500px;
  width: 500px;
  top: 0;
  text-align: center;

  @media only screen and (max-width: 1150px) {
   height: 350px;
   width: 350px;
 }
  @media only screen and (max-width: 600px) {
   height: 275px;
   width: 275px;
 }
}

#map-holder {
  position: relative;
  float:left;
}

.callout {
  opacity: .9;
  ul {
    margin: 0;
  }
}

#locate-me {
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 50px;
}
.menu > li {
  font-size: 20px;
}

#title-nav {
  margin: 20px 20px;
  font-size: 32px;
}

#profile-nav {
  font-size: 24px;
}

ul {
  list-style: none;
}

.navigation-bar {
  color: #ECBA09;
}

#catches-menu {
  display: inline-block;
}

.top-bar {
  background-color: rgba(white, 0.5);
  color: $primary-color;
}

#title {
  margin: 80px;
}
#slogan {
  text-align: center;
}
